Django==1.8.14
git+git://github.com/eshellman/django-email-change.git@e5076a9a2c9a9b61b58cea7e461c8368af07b2ad
django-registration==2.1.1
django-selectable==0.9.0
python-social-auth==0.2.19
virtualenv==1.4.9
